<h1>Panel de Administración</h1>
<p>Bienvenido, <%= current_user.name %>! Aquí puedes gestionar las ofertas y usuarios.</p>

<%= link_to "Ver Ofertas de Trabajo", job_offers_path %>
<%= link_to "Usuarios", users_path %>
